
<h1> Data Binding</h1>
<div [hidden]="hideInter">
  <h2>Interpolation</h2>
  <p>Person: {{person}}</p>
  <p>Age: {{age}}</p>
  <p>Address: {{address.street}} , {{address.city}} </p>
  <p>Email: {{getEmail()}} </p>
</div>

<div>
  <h2>Property Binding</h2>
  <p [hidden]="hide">Hello {{person}}</p>
  <button [disabled]="activated">Envoyer</button>
</div>

<div>
  <h2>Event Binding</h2>
  <button (click)="hideInterpolation()">Hide Interpolation</button>
  <br>
</div>

<div>
  <h2>Two way Binding</h2>
 <input type="text" name="name" placeholder="person" [(ngModel)]="person">
</div>
<br>
<br>
<br>
<br>
<div>
  <h1>Imbrication des Composants</h1>
  <app-enseignant></app-enseignant>
</div>
<div>
  <h1>Formulaire</h1>
  <h2>Template Driven Form</h2>
  <app-form></app-form>
</div>
